@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  @apply bg-slate-100 px-4;
}

.green_breath_animation {
  /* animation: green_breath 2.5s ease-in-out infinite; */
  /* color: rgb(120, 120, 120); */
  color: rgb(30, 217, 136);
  text-shadow: 0 0 2em rgb(30, 217, 136);
}

@keyframes green_breath {
  0% {
    color: rgb(120, 120, 120);
  }
  50% {
    color: rgb(30, 217, 136);
    text-shadow: 0 0 2em rgb(30, 217, 136);
  }
  100% {
    color: rgb(120, 120, 120);
  }
}

.orange_breath_animation {
  animation: orange_breath 2.5s ease-in-out infinite;
  color: rgb(120, 120, 120);
}

@keyframes orange_breath {
  0% {
    color: rgb(120, 120, 120);
  }
  50% {
    color: rgb(252, 196, 29);
    text-shadow: 0 0 0.5em rgb(242, 202, 57);
  }
  100% {
    color: rgb(120, 120, 120);
  }
}

.panel-red-box {
  @apply flex text-center bg-red-100 text-red-500 rounded-lg text-lg mx-2 mt-2 p-1  font-bold justify-center;
}

/* FETCHING DEPARTURES ANIMATION */
.video-background {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.fetching-animation {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.animated-letter {
  display: inline-block;
  margin: 15px;
  font-size: 50px;
  animation: bounce 1.5s ease infinite;
  animation-delay: var(--delay);
}

@keyframes bounce {
  0% {
    transform: translateY(0) rotate(0) translateX(0);
  }
  50% {
    transform: translateY(-20px) rotate(-45deg) translateX(50px);
  }
  70% {
    transform: translateY(0) rotate(45deg) translateX(50px);
  }
  100% {
    transform: translateY(0) rotate(360deg) translateX(0);
  }
}
