@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  @apply bg-slate-100;
}

.green_breath_animation {
  animation: green_breath 2.5s ease-in-out infinite;
  color: rgb(120, 120, 120);
}

@keyframes green_breath {
  0% {
    color: rgb(120, 120, 120);
  }
  50% {
    color: rgb(30, 217, 136);
    text-shadow: 0 0 2em rgb(30, 217, 136);
  }
  100% {
    color: rgb(120, 120, 120);
  }
}

.orange_breath_animation {
  animation: orange_breath 2.5s ease-in-out infinite;
  color: rgb(120, 120, 120);
}

@keyframes orange_breath {
  0% {
    color: rgb(120, 120, 120);
  }
  50% {
    color: rgb(252, 196, 29);
    text-shadow: 0 0 0.5em rgb(242, 202, 57);
  }
  100% {
    color: rgb(120, 120, 120);
  }
}

.panel-red-box {
  @apply flex text-center bg-red-100 text-red-500 rounded-lg text-lg mx-2 mt-2 p-1  font-bold justify-center;
}
